/* CSS Document */
html, body, ul, li, ol, p, h1, h2, h3, h4, h5, h6, form,input,img { margin:0; padding:0;}
li{ list-style:none;}
h1,h2,h3,h4,h5,h6{
    font-size: 100%;
    font-weight: normal;
}
a{color:#333;text-decoration:none;}
a:hover{color:#f40; text-decoration:underline;}
body{ font-size:14px;}
.clearfix:after{ content:""; display:block; clear:both;}
/*CSS初始化结束*/
.Wrap{
    height: 52px;
    margin:  auto;
    border-bottom: #3e4a40 solid 2px;
    padding-top: 6px;

}
.Wrap h1{
    font-family: 幼圆;
    font-size: 30px;
    line-height: 40px;
    text-align: center;



    display: inline;



}
.Wrap ul{
    width: 220;
    height: 35px;
    display: inline-block;


}
.Wrap ul li{

    height: 30px;
    font-size: 16px;
    padding: 0px 15px;
    display: inline-block;
    text-align: center;


}
.Wrap ul li a{
    margin: 0 auto;



}
.Wrap ul li a:hover{
    background:pink;  border-radius:4px;
    text-decoration:none;
}
header .header-inner{
    width: 1020px;
    height: 30px;
    margin: 0 auto;
    border: black;

}
.Wrap .header-inner .searchlable{
    width: 550px;
    height: 35px;
    display: inline-block;
    margin-left: 10px;
    padding-left: 100px;
}
.Wrap .searchlable input{
    width: 325px;
    height: 34px;
    margin: 0 auto;
    margin-left: 10px;
    border: #3e4a40 solid 1px;
    border-radius: 10px;


}

.Wrap .searchlable  button{
    width: 45px;
    height: 34px;
    border: #3e4a40 solid 1px;
    color: #237332;
}
header .header-inner .searchlable  .usericon{
    display: inline-block;
    line-height: inherit;
    vertical-align: top;
    padding-left: 100px;

}


.topstory{

}
.topstory .cards{

}
.topstory .cards .globalwrite{

}
.topstory .cards .globalwrite-question{

}
.topstory .cards .globalwrite-reply{

}
.topstory .user-message{

}
.topstory .aboutus{

}
















